.slider {
    list-style-type: none;
}

.slider > li {
    display: none;
}

.slider > li.active_slide {
    display: block;
}

.active_slide {
    position: relative;
}

.active_slide > img {
    position: absolute;
    width: 300px;
    z-index: 1;
}

.border {
    border: 1px solid black;
    box-sizing: border-box;
}

p {
    position: absolute;
    font-size: 70px;
    color: red;
    z-index: 2;
}